body {
    text-align: center;
    padding: 60px;
    background-color: rgb(235, 231, 216);
    color: rgb(116, 138, 105);
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}

.again {
    color: rgb(156, 172, 148);
}